body{
	background-image: url("../images/eclipse-bg.png");
  background-repeat: no-repeat;
	font-family:monospace;
}

.accessGranted{
	position:absolute;
	top:200px;
	background:#333;
	padding:20px;
	border:1px solid #999;
	width:300px;
	left:50%;
	margin-left:-150px;
	text-align:center;
}

.accessDenied{
	position:absolute;
	top:200px;
	color:#F00;
	background:#511;
	padding:20px;
	border:1px solid #F00;
	width:300px;
	left:50%;
	margin-left:-150px;
	text-align:center;
}

#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px;
}

#console {
    background-color: transparent !important;
    height: 522px;
    overflow: hidden;
    width:660px;
    margin-top:64px;
    padding-left:450px;
}
